.f-c {
  display: flex;
}
.filter-by {
  position: relative;
  margin-right: 2.5rem;
  width: 7.5rem;
  justify-content: space-between;
  align-items: center;
}
.filter-light p::before {
  font-size: 0.8rem;
  content: "Filter by status";
  color: rgb(0, 0, 0);
}
.filter-dark p::before {
  font-size: 0.8rem;
  content: "Filter by status";
  color: #fff;
}

.filter-by:hover {
  cursor: pointer;
}

.status-choices {
  position: absolute;
  z-index: 10;
  top: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px #00000030;
  max-height: 10rem;
  width: 10rem;
  transition: max-height 0.3s;
  overflow: hidden;
  padding-left: 1.5rem;
}

.status-choices-light {
  background-color: #fff;
  color: #252944;
}
.status-choices-dark {
  background-color: #252944;
  color: #fff;
}
.hidden {
  max-height: 0;
}
.status-choices div {
  font-size: 0.8rem;
  line-height: 3rem;
}
.choice input {
  margin-right: 0.5rem;
}
.choice input:hover {
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .filter-by {
    width: 3.5rem;
  }
  .filter-by p::before {
    content: "Filter";
  }
  .status-choices {
    right: -3rem;
  }
}
