.header {
  background-color: #1e2139;
  position: fixed;
  z-index: 12;
  border-radius: 0 1.5rem 1.5rem 0;
  width: 103px;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  flex-flow: column nowrap;
  overflow: hidden;
}
.f-c {
  display: flex;
}
.mode-avatar {
  flex-flow: column nowrap;
  align-items: center;
}
.mode-icon {
  margin: 1rem;
}
.mode-icon:hover {
  cursor: pointer;
  filter: brightness(2) drop-shadow(0 0 1rem #fff);
}
.avatar-image {
  width: 5rem;
  height: 5rem;
  overflow: hidden;
  border-radius: 50%;
  transform: scale(0.6);
  transition: transform 0.3s;
}
.avatar {
  height: 5rem;
  border-top: 1px solid #ffffff38;
  width: 103px;
  text-align: center;
}
.avatar:hover {
  cursor: pointer;
}
@media screen and (max-width: 1200px) {
  .header {
    width: 100vw;
    height: 5rem;
    border-radius: 0;
    flex-flow: row nowrap;
  }
  .mode-avatar {
    flex-flow: row nowrap;
  }
  .logo {
    height: 5rem;
  }
  .avatar {
    border-top: none;
    border-left: 1px solid #ffffff38;
    margin: 0;
  }
  .avatar-image {
    transform: scale(0.5);
  }
}

@media screen and (max-width: 768px) {
  .header {
    height: 4rem;
  }
  .logo {
    height: 4rem;
  }
}
