.f-c {
  display: flex;
}
.home {
  margin-top: 5rem;
  width: calc(40vw + 20rem);
}
.invoices-header-dark,
.invoices-header-light {
  justify-content: space-between;
}
.invoices-header-dark h1 {
  color: #fff;
}
.invoices-header-light h1 {
  color: rgb(0, 0, 0);
}
.invoices-header-light h1::after,
.invoices-header-dark h1::after {
  content: "There are 6 invoices";
  display: block;
  font-size: 0.8rem;
  color: #a9a9a9;
}
.filter-by {
  position: relative;
  margin-right: 2.5rem;
  width: 7.5rem;
  justify-content: space-between;
  align-items: center;
}
.filter-light p::before {
  font-size: 0.8rem;
  content: "Filter by status";
  color: rgb(0, 0, 0);
}
.filter-dark p::before {
  font-size: 0.8rem;
  content: "Filter by status";
  color: #fff;
}

.filter-by:hover {
  cursor: pointer;
}

.status-choices {
  position: absolute;
  z-index: 10;
  top: 4rem;
  border-radius: 0.8rem;
  box-shadow: 0 0 10px #00000030;
  text-align: center;
  max-height: 10rem;
  width: 10rem;
  transition: max-height 0.3s;
  overflow: hidden;
}
.status-choices-light {
  background-color: #fff;
  color: #252944;
}
.status-choices-dark {
  background-color: #252944;
  color: #fff;
}
.hidden {
  max-height: 0;
}
.status-choices div {
  font-size: 0.8rem;
  line-height: 3rem;
}
.new-invoice-btn {
  background-color: #7c5efa;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  color: #fff;
}
.new-invoice-btn:hover {
  cursor: pointer;
}
.new-invoice-btn p::before {
  font-size: 0.9rem;
  content: "New Invoice";
  color: #fff;
  font-weight: 500;
  line-height: 3rem;
}
.plus-circle {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (max-width: 1200px) {
  .home {
    width: 90vw;
    margin-top: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .home {
    margin-top: 5rem;
  }
  .status-choices {
    right: -3rem;
  }
  .invoices-header-light h1,
  .invoices-header-dark h1 {
    font-size: 1.4rem;
  }
  .invoices-header-light h1::after,
  .invoices-header-dark h1::after {
    content: "6 invoices";
    font-weight: 500;
  }
  .filter-by {
    width: 3.5rem;
  }
  .filter-by p::before {
    content: "Filter";
  }
  .new-invoice-btn {
    width: 6.5rem;
  }
  .new-invoice-btn p::before {
    content: "New";
  }
}
