.f-c {
  display: flex;
}
.home {
  height: 100%;
  margin: 5rem 0 5rem;
  width: calc(40vw + 20rem);
}
.invoices-header-dark,
.invoices-header-light {
  justify-content: space-between;
}
.invoices-header-dark h1 {
  color: #fff;
}
.invoices-header-light h1 {
  color: rgb(0, 0, 0);
}
.invoices-header-light h1::after,
.invoices-header-dark h1::after {
  content: "There are 6 invoices";
  display: block;
  font-size: 0.8rem;
  color: #a9a9a9;
}

.new-invoice-btn {
  background-color: #7c5efa;
  width: 10rem;
  height: 3rem;
  border-radius: 2rem;
  color: #fff;
}
.new-invoice-btn:hover {
  cursor: pointer;
}
.new-invoice-btn p::before {
  font-size: 0.9rem;
  content: "New Invoice";
  color: #fff;
  font-weight: 500;
  line-height: 3rem;
}
.plus-circle {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #fff;
}
@media screen and (max-width: 1200px) {
  .home {
    width: 90vw;
    margin-top: 10rem;
  }
}
@media screen and (max-width: 768px) {
  .home {
    margin-top: 5rem;
  }
  .invoices-header-light h1,
  .invoices-header-dark h1 {
    font-size: 1.4rem;
  }
  .invoices-header-light h1::after,
  .invoices-header-dark h1::after {
    content: "6 invoices";
    font-weight: 500;
  }

  .new-invoice-btn {
    width: 6.5rem;
  }
  .new-invoice-btn p::before {
    content: "New";
  }
}
