.invoice {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr) 8rem 0.5rem;
  text-decoration: none;
  line-height: 5rem;
  border-radius: 0.8rem;
  margin-top: 1rem;
  padding: 0 2rem;
  border: 2px solid #7d5efa00;
  transition: border-color 0.3s;
}
.invoice-light {
  background-color: #fff;
}
.invoice-dark {
  background-color: #1e2139;
}
.invoice:hover {
  border-color: #7c5efa;
}
/* id due name total */
.id,
.due,
.name {
  font-size: 0.8rem;
}
.due,
.name,
.id span {
  opacity: 0.6;
}
.total {
  font-weight: 600;
}
/* id due name total MODE */
.id-light,
.total-light,
.due-light,
.name-light {
  color: #000000;
}
.id-dark,
.total-dark,
.due-dark,
.name-dark {
  color: #fff;
}

/* status container */
.status-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 7rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: capitalize;
}
.status-container p {
  margin-left: 0.2rem;
}

/* status */
.circle {
  margin: 0.2rem;
  width: 0.6rem;
  height: 0.6rem;
  border-radius: 50%;
}
.paid {
  background-color: #3fd7a225;
  color: #3fd7a1;
}
.paid .circle {
  background-color: #3fd7a1;
}
.pending {
  background-color: #f7890220;
  color: #f78a02;
}
.pending .circle {
  background-color: #f78a02;
}
.draft-light {
  color: #000;
  background-color: rgba(0, 0, 0, 0.036);
}
.draft-light .circle {
  background-color: #000;
}
.draft-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.057);
}
.draft-dark .circle {
  background-color: #fff;
}
.arrow-right {
  transform: scale(1.25);
}
