.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  transition: 0.2s background-color;
}
.main-light {
  background-color: #f8f8f8;
}
.main-dark {
  background-color: #141625;
}
