$max-mobile-width: 768px;
$max-tablet-width: 1024px;
$max-desktop-width: 10240px;

$header-bg-clr: #1E2139;
$main-light-bg-clr: #F8F8F8;
$main-dark-bg-clr: #141625;
$clr-white: #fff;
$clr-black: #000;
$clr-violet: #7C5EFA;
$bg-clr-overlay:#191919b8;