$header-bg-clr: #1E2139;
$filter-options-dark-bg: #1E2139;
$invoice-dark-bg: #1E2139;
$main-light-bg-clr: #F8F8F8;
$main-dark-bg-clr: #141625;
$clr-white: #fff;
$clr-black: #000;
$clr-violet: #7C5EFA;
$bg-clr-overlay:#191919b8;
$clr-dark-grey: #B6B9CD;
$clr-light-grey: #F8F8F8;
$clr-greyish-blue: #AFB5DA;

$paid-clr: #3fd7a1;
$paid-bg-clr: #3fd7a225;
$pending-clr: #f78a02;
$pending-bg-clr: #f7890220;