body{
 margin: 0;
 box-sizing: border-box;
 font-family: 'Titillium Web',
 sans-serif;
}

*::-webkit-scrollbar {
 width: 0.75rem;
}

*::-webkit-scrollbar-track {
 background: #f8f8f8;
}

*::-webkit-scrollbar-thumb {
 background-color: #1e2139;
 border-radius: 1.25rem;
 border: 3px solid #f8f8f8;
}