@import 'variables';
@import 'breakpoints';

@include max-xl{
 
 .options_container_light,
 .options_container_dark{
  position: absolute;
  border: none;
  border-radius: 0.2rem;
  box-shadow: 0 0 0.5rem #0000000e;
  z-index: 2;
  width: 12rem;
  top: 3rem;
  left: -3rem;
  padding: 0;
  overflow: hidden;
  transition:  max-height 0.3s;

  .option{
   display: block;
   position: relative;
   cursor: pointer;
   user-select: none;
   line-height: 3rem;

   .checkmark{
    left: 1rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 3;
    cursor: pointer;
    background-color: #7C5EFA;

    &::after{
     position: absolute;
     content: '';
     width: 0.25rem;
     left: 0.3rem;
     height: 0.5rem;
     border: solid $clr-white;
     border-width: 0 3px 3px 0;
     transform: rotate(45deg);
    }
   }
  
   input{
    appearance: none;
    left: 1rem;
    top: 1rem;
    margin: 0;
    width: 1rem;
    height: 1rem;
    position: absolute;
    z-index: 4;
    visibility: visible;
    cursor: pointer;

    &:checked{
     visibility: hidden;
    }
   }

   .status_type_dark,
   .status_type_light{
    margin-left: 3rem;
    text-transform: capitalize;
    font-weight: 600;
   }

   .status_type_light{
    color: $clr-black;
   }

   .status_type_dark{
    color: $clr-white;
   }
  }
 }

 .options_container_light{
  background-color: $clr-white;
 }

 .options_container_dark{
  background-color: $filter-options-dark-bg;
 }
}

@include max-md{
 .options_container_dark,
 .options_container_light{
  left: -2rem;
 }
}

.visible{
 max-height: 12rem;
}

.hidden{
 max-height: 0rem;
}

.checkbox_light{
background-color: #c6c7d8;
}

.checkbox_dark{
 background-color: #130d2a;
}