@import 'variables';
@import 'breakpoints';

@include max-xl{

 .header_container{
  display: flex;
  margin: 0rem auto;
  max-width: 80rem;
  height: 10rem;
  overflow: visible;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;

  .left_container{
   margin: 0;
   
   .heading_light,
   .heading_dark{
    margin: 0;
    font-size: 2.5rem;
   }

   .heading_light{
    color: $clr-black;
   }

   .heading_dark,
   .total_invoices_dark{
    color: $clr-white;
   }

   .total_invoices_light,
   .total_invoices_dark{
    margin: 0;

    .amount{
     &::before {
      content: 'There are ';
     }
     
     &::after {
      content: ' total ';
     }
    }
   }

   .total_invoices_light{
    color: $clr-dark-grey;
   }
  }

  .right_container{
   display: flex;
   flex-flow: row nowrap;
   justify-content: space-between;
   align-items: center;
   width: 20rem;
  }
 }
}

@include max-lg{

 .header_container{

  .left_container{

   .heading_dark,
   .heading_light{
     font-size: 2rem;
   }
  }
  .right_container{
   width: 18rem;
  }
 }
}

@include max-tablet {

 .header_container {

  .left_container{

   .heading_dark,
   .heading_light{
    font-size: 1.5rem;
   }

   .total_invoices_dark,
   .total_invoices_light{

    .amount{

     &::before{
      content: "";
     }

     &::after{
      content: " ";
     }
    }
   }
  }
  .right_container {
   width: 11rem;
  }
 }
}