@import 'breakpoints';
@import 'variables';

.main_light,
.main_dark{
 min-height: 100vh;
 transition: background-color 0.3s;


 @include max-xl{
  padding: 8rem 5rem 8rem 12rem;
 }

 @include max-lg{
  padding: 10rem 2rem;
 }

 @include max-md{
  padding: 8rem 1rem;
 }

}

.main_light{
 background-color: $main-light-bg-clr;
}

.main_dark{
 background-color: $main-dark-bg-clr;
}