p {
  margin: 0;
}

.page_container {
  max-width: 80rem;
  margin: 0 auto;
}

.page_container .btn_container_light button,
.page_container .btn_container_dark button {
  background: none;
  border: none;
  text-transform: capitalize;
  font-weight: 600;
}

.page_container .btn_container_light button:hover,
.page_container .btn_container_dark button:hover {
  cursor: pointer;
}

.page_container .btn_container_light button {
  color: #000;
}

.page_container .btn_container_dark button {
  color: #fff;
}

.page_container .header_container_light,
.page_container .header_container_dark {
  margin-top: 1rem;
  height: 6rem;
  border-radius: 10px;
}

.page_container .header_container_light,
.page_container .invoice_container_light {
  background-color: #fff;
}

.page_container .header_container_dark,
.page_container .invoice_container_dark {
  background-color: #1E2139;
}

.page_container .invoice_container_light,
.page_container .invoice_container_dark {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.page_container .invoice_container_light .sender_address div,
.page_container .invoice_container_dark .sender_address div {
  text-align: right;
}

.id {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
}

.id span {
  font-size: 1.5rem;
}

.id::before {
  content: '#';
  font-size: 1.5rem;
}

.create_date_container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.due_date_container {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.bill_to_container {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 4 / 3;
}

.sent_to {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.total_container {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: 4 / 1 / 5 / 5;
  border-radius: 20px;
}

.total_container table {
  width: 100%;
  min-height: 6rem;
  padding: 2rem;
}

.total_container table thead th:nth-child(1) {
  text-align: left;
}

.total_container table thead th:nth-child(2) {
  text-align: center;
}

.total_container table thead th:nth-child(3),
.total_container table thead th:nth-child(4) {
  text-align: right;
}

.total_container table tbody tr td:nth-child(1) {
  text-align: left;
}

.total_container table tbody tr td:nth-child(2) {
  text-align: center;
}

.total_container table tbody tr td:nth-child(3),
.total_container table tbody tr td:nth-child(4) {
  text-align: right;
}

.total_container .amount_due_container {
  height: 5em;
  padding: 0 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 0 0 20px 20px;
}

.total_container .amount_due_container .total {
  font-size: 2rem;
  color: #fff;
}

.invoice_container_light p,
.invoice_container_light span {
  color: #000;
}

.invoice_container_light address {
  color: #b3b3b3;
}

.invoice_container_light .id::before {
  color: #b3b3b3;
}

.invoice_container_light .id p {
  color: #b3b3b3;
}

.invoice_container_light div p:first-child {
  color: #b3b3b3;
}

.invoice_container_light .total_container {
  background-color: #F8F8F8;
}

.invoice_container_light .total_container .amount_due_container {
  background-color: #1E2139;
}

.invoice_container_light table thead th {
  color: #b3b3b3;
}

.invoice_container_light table tbody tr td {
  color: #b3b3b3;
}

.invoice_container_light table tbody tr td:nth-child(1) {
  color: #000;
  font-weight: 700;
}

.invoice_container_dark p,
.invoice_container_dark span {
  color: #fff;
}

.invoice_container_dark address {
  color: #e4e4e4ba;
}

.invoice_container_dark .id::before {
  color: #e4e4e4ba;
}

.invoice_container_dark .id p {
  color: #e4e4e4ba;
}

.invoice_container_dark div p:first-child {
  color: #e4e4e4ba;
}

.invoice_container_dark .total_container {
  background-color: #252944;
}

.invoice_container_dark .total_container .amount_due_container {
  background-color: #000;
}

.invoice_container_dark table thead th {
  color: #e4e4e4ba;
}

.invoice_container_dark table tbody tr td {
  color: #e4e4e4ba;
}

.invoice_container_dark table tbody tr td:nth-child(1) {
  color: #fff;
  font-weight: 700;
}

.invoice_container_light address,
.invoice_container_dark address {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 100;
}

.invoice_container_light div p:first-child,
.invoice_container_dark div p:first-child {
  font-size: 0.9rem;
  font-weight: 100;
}

.big {
  font-size: 1.2rem;
}

@media (max-width: 768px) {
  .invoice_container_light,
  .invoice_container_dark {
    -ms-grid-columns: 1fr 1fr !important;
        grid-template-columns: 1fr 1fr !important;
  }
  .id {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .sender_address {
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 2 / 1 / 3 / 2;
  }
  .sender_address div {
    text-align: left !important;
  }
  .bill_to_container {
    -ms-grid-row: 1;
    -ms-grid-row-span: 5;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 6 / 3;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .create_date_container {
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 3 / 1 / 4 / 2;
  }
  .due_date_container {
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 4 / 1 / 5 / 2;
  }
  .sent_to {
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 5 / 1 / 6 / 2;
  }
  .total_container {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: 6 / 1 / 7 / 3;
  }
  table thead th:nth-child(2),
  table thead th:nth-child(3) {
    display: none;
  }
  table tbody tr td {
    font-weight: 100 !important;
  }
  table tbody tr td:nth-child(2),
  table tbody tr td:nth-child(3) {
    display: none;
  }
  .total {
    font-size: 1.2rem !important;
  }
}
/*# sourceMappingURL=invoice_page.module.css.map */